.my-form {
  text-align: center;
  display: flex;
  max-width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;


  .column {
    width: 75%;
    max-width: 560px;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
  }

  @media only screen and (max-width: 750px) {
    .column {
      width: 560px;
      max-width: 96%;
    }
  }
  .message {
    letter-spacing: 0.12em;
  }
}
